@media (max-width: 900px) {
  .content-container h1 {
      margin-top: 80px;
      font-size: 28px;
      line-height: 1.3;
    }
    p{
      font-size: 14px;
      line-height: 1;
    }
    .card-text{
      line-height: 1.2;
    }

  }

    h1 {
      font-weight: bold;
    }

